.infoBox {
  cursor: pointer;
  flex: 1;
  background-color: #1b1b2a !important;
  .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h1 {
      font-size: 22px;
      font-weight: 400;
    }
  }
}

/* Apply to all of the childs, except the last one */
.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid #26a24383;
}

.infoBox--red {
  border-color: #4d1129;
  color: #fe0639;
}

.infoBox--grey {
  border-color: #252735;
  color: #6b747c !important;
}

.infoBox--green {
  border-color: #26a24383;
  color: #26a243;
}

.infoBox__cases--green {
  color: #26a243 !important;
}

.infoBox__title {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__cases {
  color: #fe0639;
  font-weight: 600;
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.9rem !important;
  margin-top: 15px !important;
}
