.table {
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
  tr:nth-of-type(odd) {
    background-color: #1d1d2f;
  }
  tr {
    display: flex;
    justify-content: space-between;
    background: #20202f;
    color: #6b757d;
    td {
      padding: 0.5rem;
    }
  }
}
